// Core variables and mixins
$enable-flex: true;
@import "bootstrap";

pre[class*="language-"] {
  padding: 0.5em;
  border-radius: 3px;
}
.table td {
  vertical-align: middle;
  border-top: initial;
  padding: 0.45rem;
}

.code-block {
  max-width: 532px;
}

.flash-messages {
  position: fixed;
  top: 50px;
  left: 25%;
  width: 50%;
  z-index: 999;
}
