$enable-flex: true;

// Core variables and mixins
@import "mixins/_grid";
@import "mixins/_progress";
@import "bootstrap-flex";

pre[class*="language-"] {
  padding: 0.5em;
  border-radius: 3px;
}
.table td {
  vertical-align: middle;
  border-top: initial;
  padding: 0.45rem;
}

.code-block {
  max-width: 532px;
}

.flash-messages {
  position: fixed;
  top: 50px;
  left: 25%;
  width: 50%;
  z-index: 999;
}
