<div class="row">
  <div class="col-xs-6">
    <h1>Headers</h1>
{{#code-block language='html'}}
&lt;h1&gt;Display 1&lt;/h1&gt;
&lt;h2&gt;Display 2&lt;/h2&gt;
&lt;h3&gt;Display 3&lt;/h3&gt;
&lt;h4&gt;Display 4&lt;/h4&gt;{{/code-block}}
  </div>
  <div class="col-xs-6">
    <h1>h1. Bootstrap heading</h1>
    <h2>h2. Bootstrap heading</h2>
    <h3>h3. Bootstrap heading</h3>
    <h4>h4. Bootstrap heading</h4>
    <h5>h5. Bootstrap heading</h5>
    <h6>h6. Bootstrap heading</h6>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-xs-6">
    <h1>Display Headings</h1>
{{#code-block language='html'}}&lt;div class="display-1"&gt;Display 1&lt;/div&gt;
&lt;div class="display-2"&gt;Display 2&lt;/div&gt;
&lt;div class="display-3"&gt;Display 3&lt;/div&gt;
&lt;div class="display-4"&gt;Display 4&lt;/div&gt;{{/code-block}}
  </div>
  <div class="col-xs-6">
    <div class="display-1">Display 1</div>
    <div class="display-2">Display 2</div>
    <div class="display-3">Display 3</div>
    <div class="display-4">Display 4</div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-6">
    <h1>Blockquotes</h1>
{{#code-block language='html'}}
&lt;blockquote class="blockquote"&gt;Lorem Ipsum&lt;/blockquote&gt;{{/code-block}}
  </div>
  <div class="col-xs-6">
    <blockquote class="blockquote">Lorem Ipsum</blockquote>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-6">
    <h1>etc ...</h1>
    <p class="text-muted">
      Please refer to the offical Bootstrap site for a complete set of CSS styles that are available
    </p>
  </div>
  <div class="col-xs-6">
    <blockquote class="blockquote">Lorem Ipsum</blockquote>
  </div>
</div>
